<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>  
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>  
</head>  
<body>  
    <div id="login">  
        <h1>Login</h1>  
           <button class="but" type="submit" onclick="javascript:window.location.href='http://localhost:8081/qunliao'">群聊</button>  
           <button class="but" type="submit" onclick="javascript:window.location.href='http://localhost:8081/siliao'">私聊</button>  
    </div>  
</body>  
</html>  